<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>338603156587-gtkibevhkc5l4nejetj47md7put2661q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338603156587-gtkibevhkc5l4nejetj47md7put2661q</string>
	<key>API_KEY</key>
	<string>AIzaSyBTB4xJxPuwyjVxIFo_-Penc4tr-5GQGX8</string>
	<key>GCM_SENDER_ID</key>
	<string>338603156587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Dasleben.Fotonicia</string>
	<key>PROJECT_ID</key>
	<string>fotonicia-4c24f</string>
	<key>STORAGE_BUCKET</key>
	<string>fotonicia-4c24f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:338603156587:ios:ba06b15414990eb6</string>
	<key>DATABASE_URL</key>
	<string>https://fotonicia-4c24f.firebaseio.com</string>
</dict>
</plist>